@charset "utf-8";
@use "../../setting" as *;
/*--------------------------------------------------------------------
  @Module : カルーセル
----------------------------------------------------------------------*/
.m-{
  &carousel{
    position: relative;
    background: #fff;
    &_view{
      overflow:hidden;
      position: relative;
      width: 100%;
    }
    &_move{
      display: flex;
      width: 100%;
      height: 100%;
      &.is-moving{
        transition: all 500ms cubic-bezier(.215, .610, .355, 1);
      }
    }
    &_item{
      flex: 0 0 100%;
      > a:focus-visible{
        display: block;
        outline-offset: -4px;
      }
    }
    &_pointer{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 15px;
      left: 50%;
      z-index: 5;
      transform: translateX(-50%);
      @include mq(sm){
        position: static;
        transform: none;
        margin-top: 10px;
      }
    }
    &_dot{
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 10px;
      border: none;
      border-radius: 24px;
      background: #ccc;
      letter-spacing: normal;
      cursor: pointer;
      transition: background .3s cubic-bezier(0.19, 1, 0.22, 1);
      &.is-current{
        background: #00509f;
      }
      &:focus-visible{
        outline: 1px solid #00509f;
        outline-offset: 3px;
      }
      @include hover{
        background: #00509f;
      }
      @include mq(sm){
        width: 10px;
        height: 10px;
        margin: 0 6px;
      }
    }
    &_num{
      @include btnReset;
      width: 2em;
      height: 2em;
      margin: 0 5px;
      border: 1px solid $mainColor;
      text-align: center;
      font-weight: bold;
      color: $mainColor;
      cursor: pointer;
      transition: all .3s cubic-bezier(.215, .610, .355, 1);
      &:hover{
        background: $mainColor;
        color: #fff;
      }
      &.is-current{
        background: $mainColor;
        color: #fff;
        cursor: default;
      }
    }
    &_shiftBtn{
      position: absolute;
      top: 50%;
      cursor: pointer;
      z-index: 5;
      margin-top: -18px;
      @include arrow(38px, 9px, #fff);
      background: none;
      transition: opacity .3s cubic-bezier(.215, .610, .355, 1);
      &._prev{
        left: 39px;
        transform: rotate(-135deg);
      }
      &._next{
        right: 39px;
      }
      &.is-inactive{
        opacity: 0;
        cursor: default;
      }
      &:focus-visible{
        outline: 1px solid #00509f;
        outline-offset: 3px;
      }
      @include mq(sm){
        display: none;
      }
    }
    [data-type="fade"] &{
      &_item{
        opacity: 0;
        transition: opacity 3s cubic-bezier(.37, 0, .63, 1);
        &.is-show{
          position: relative;
          z-index: 1;
          opacity: 1;
        }
      }
    }
  }
}